.container {
    display: flex;
    flex-direction: column;
  }
  
  .top-bar-above{
    width: 100vw;
  }
  
  .top-bar {
    width: 100vw;
    
    margin: auto;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2196F3;
    color: white;
  }
  
  .top-bar a {
    font-size: 25px;
    padding: 3px;
  }

  .left-section {
    display: flex;
    align-items: center;
  }
  
  .hamburger {
    padding-bottom: 3px;
    width: 50px;
    background: none;
    border: none;
    color: white;
    font-size: 33px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .home-link {
    color: white;
    text-decoration: none;
    font-size: 27px;
    cursor: pointer;
    margin-top: 20px;
    padding: 3px;
  }
  
  .home-link:hover {
    text-decoration: underline;
  }
  
  .course-progress-btn {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .toggle-section {
    left: 0;
    font-size: large;
    color: black;
    background-color: #e2e1e1;
    display: contain;
    cursor: pointer;
    width: 200px;
  }
  
  .toggle-section li {
    color: black;
    padding: 5px;
    padding-bottom: 10px;
    /*border: 1px solid black;*/
    
  }
  
  .main-content {
    font-size: large;
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .progress-section {
    font-size: large;
    width: 200px;
    margin-bottom: 20px;
  }
  
  progress {
    width: 100px;
    margin-right: 10px;
  }
  
  /* footer{
    position: absolute;
    bottom: 0;
  } */
  
  .intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
  
  .intro .heading {
    color: #057ada;
    text-align: center;
  }

  .intro .sub-heading {
    text-align: left;
    color: black;
  }

  .intro .image {
    display: flex;
    align-items: center;
    width: 900px;
    height: 600px;
  }

  .intro .indent {
    text-indent: 30px;
  }
  
  .feed .but-feedback{
    cursor: pointer;
    font-weight: 500;
    padding: 8px 20px;
    background-color: #e7e4e4;
  }
  
  .list-exp{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 50px;
    line-height: 30px;
  }
  ul , ol {
    font-size: 18px;
    font-weight: 500;
  }
  ol li{
    margin-left: 20px;
    
  }
  
  ol li a{
    color: darkblue;
    
  }