.container {
  display: flex;
  flex-direction: column;
}

.top-bar-above{
  width: 100vw;
}

.top-bar {
  width: 100vw;
  
  margin: auto;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2196F3;
  color: white;
}

.top-bar a {
  font-size: 25px;
  padding: 3px;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger {
  padding-bottom: 3px;
  width: 50px;
  background: none;
  border: none;
  color: white;
  font-size: 33px;
  cursor: pointer;
  margin-right: 10px;
}

.home-link {
  color: white;
  text-decoration: none;
  font-size: 27px;
  cursor: pointer;
  margin-top: 20px;
  padding: 3px;
}

.home-link:hover {
  text-decoration: underline;
}

.course-progress-btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.toggle-section {
  left: 0;
  font-size: large;
  color: black;
  background-color: #e2e1e1;
  display: contain;
  cursor: pointer;
  width: 200px;
}

.toggle-section li {
  color: black;
  padding: 5px;
  padding-bottom: 10px;
  /*border: 1px solid black;*/
  
}

.main-content {
  font-size: large;
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
}

.progress-section {
  font-size: large;
  width: 200px;
  margin-bottom: 20px;
}

progress {
  width: 100px;
  margin-right: 10px;
}

/* footer{
  position: absolute;
  bottom: 0;
} */

.intro {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.intro-out{
  font-size: 2em;
  font-weight: 600;
}

.intro .heading {
  color: #057ada;
  text-align: center;
}

.intro .sub-heading {
  text-align: left;
  color: black;
}

.intro .image {
  display: flex;
  align-items: center;
  width: 900px;
  height: 600px;
}

.intro .indent {
  text-indent: 30px;
}

.intro .description {
  font-size: 1.1em;
  line-height: 1.6;
  color: #000;
  text-align: justify;
  margin-bottom: 20px;
}

.intro .list {
  list-style-type: disc;
  margin-left: 40px;
  font-size: 1.1em;
  color: #000;
}

.list li {
  margin-bottom: 10px;
}

.feed .but-feedback{
  cursor: pointer;
  font-weight: 500;
  padding: 8px 20px;
  background-color: #e7e4e4;
}

.list-exp{
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-left: 50px;
  line-height: 30px;
}
ul , ol {
  font-size: 18px;
  font-weight: 500;
}
ol li{
  margin-left: 20px;
  
}

ol li a{
  color: darkblue;
  
}

.intro .SubmitButton{
  margin-top: 50px;
  padding: 20px;
  background-color: rgb(66, 66, 175);
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  width: 100px;
}

.correct {
  background-color: lightgreen;
  color: darkgreen;
}

.incorrect {
  background-color: lightcoral;
  color: darkred;
}

.option-label {
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.stack-body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.stack-header {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.heading {
  color: rgb(52,239,223,1);
}

.stack-container {
  height: 620px;
  width: 1000px;
  box-shadow: 8px 8px 20px #34efdf;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.stack-container-header {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.stack-container-header input {
  height: 50px;
  width: 400px;
  font-size: 25px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 5px;
}

.push, .pop, .reset, .box {
  height: 50px;
  width: 140px;
  font-size: 25px;
  background-color: rgb(79, 60, 176);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  border: none;
}

.disable-button {
  background-color: green;
}

.container-header button:active {
  transform: scale(0.95);
}

.stack-container-body {
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stack {
  width: 500px;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0 3px 0 0;
  border-color: black;
  border-style: solid;
}

.main-stack-bucket {
  height: 450px;
  width: 200px;
  border-width: 0 4px 4px 4px;
  border-color: black;
  border-style: solid;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column-reverse;
  gap: 5px;
  padding-bottom: 5px;
}

.ele {
  height: 80px;
  width: 170px;
  background-color: rgb(63, 197, 238);
  border: 4px black solid;
  border-radius: 10px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ele-add {
  animation: pushAnimation 0.3s infinite linear;
}

.ele-remove {
  animation: popAnimation 0.3s infinite linear;
}

@keyframes pushAnimation {
  0% {
    background-color: green;
  }
  100% {
    background-color: rgb(17, 92, 255);
  }
}

@keyframes popAnimation {
  0% {
    background-color: green;
  }
  100% {
    background-color: rgb(255, 15, 59);
  }
}

.info {
  height: 470px;
  width: 500px;
  padding-left: 20px;
}

[class^="sec"] {
  display: flex;
  width: 350px;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  justify-content: space-between;
}

.massage-box {
  height: 180px;
  width: 400px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(140, 116, 165);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.massage-box h2 {
  text-align: center;
  font-weight: 600;
}

.massage {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.error-massage {
  animation: errorMassage 0.4s infinite linear;
}

@keyframes errorMassage {
  0% {
    background-color: bisque;
  }
  100% {
    background-color: rgb(255, 15, 59);
  }
}

